%h1 Listing tests

%table
  %thead
    %tr
      %th Test
      %th Test1
      %th
      %th
      %th

  %tbody
    - @tests.each do |test|
      %tr
        %td= test.test
        %td= test.test1
        %td= link_to 'Show', test
        %td= link_to 'Edit', edit_test_path(test)
        %td= link_to 'Destroy', test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Test', new_test_path
